body {
	color: #666;
	font: 1.2em/1.4em 'Myriad Pro', Helvetica, Arial, sans-serif;
	text-align: left;
	margin: 0px;
}

.header {
	background-color: lightgrey;
}

.inner-header {
	background-color: lightgrey;
}

.container {
	width: 80%;
	height: 100%;		
	margin: auto;
}

.main-content {
	width: 80%;
	height: 100%;
	margin: auto;
	float: left;
}

.side-content {
	background: lightgrey;		
	border: 0px solid #000;
	line-height: 20px;
	width: 20%;
	height: 100%;
	margin: auto;
	margin-bottom: 10px;
	float: right;
}

.button1 {
	width: 100px;
}

.feed-box-left {
	width: 80%;
}
.feed-box-left {
	width: 20%;
}

.on-off-feed {
	margin-left: 50%;
	margin-top: 40%;
}